<div class="hint hint--html hint--bottom munch-rating munch-rating-not-found">
  <div class="munch-rating-hint-wrapper">
    <div class="hint__content munch-rating-hint">
      <h4 class="munch-rating-hint-heading">Why was no rating found?</h4>
      <p><b>1)</b> The restaurant may be newly listed, check back in a few days.</p>
      <p><b>2)</b> The restaurant's address details did not match any official records.</p>
      <p><b>3)</b> The restaurant may be operating without registering with the FSA (illegally).</p>
      <p><a class="munch-rating-hint-url" href="http://ratings.food.gov.uk" title="Search on food.gov.uk">Search on food.gov.uk</a></p>
      <span class="fsa-logo"></span>
    </div>
  </div>
</div>
