@import "includes/hint";

/* Start MunchDB Styles */

.munch-rating {
  display: inline-block;
  font-family: "Helvetica", "Arial", sans-serif;
  width: 160px;
  height: 30px;
  color: transparent; /* hide text */
  background-size: 160px 30px;
  cursor: help;
}

.munch-rating-hint-wrapper {
  position: relative;
  width: 160px;
  height: 30px;
}

// Specifity required to override host sites' styles.
.munch-rating .munch-rating-hint {
  box-sizing: border-box;
  width: 160px;
  border-radius: 2px;
  z-index: 999999;
  top: 30px;
  left: calc(50% - 62px);
  line-height: 18px;
  background: rgba(50, 50, 50, 1);
  border: 2px solid rgba(52, 52, 52, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  text-align: left;

  > * {
    margin: 0 0 4px 0;
    white-space: pre-line;
  }
  p {
    font-size: 1em;
    color: #fcfcfc;
    text-align: left;
    text-transform: none;

  }

  h4 {
    font-size: 1.1em;
    font-weight: bold;
    color: #fcfcfc;
    text-align: left;
    text-transform: none;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0;
  }

  a {
    color: #64D2BC;
    text-transform: none;
  }

  i {
      position: relative;
      font-size: 1em;
      margin: 0;
      padding: 0;
      display: inline;
  }

  .faint {
    color: #888787;
  }

  .munch-rating-hint-address {
    margin: 4px 0;
    white-space: initial;
  }

  .fsa-logo {
    width: 75px;
    height: 30px;
    display: block;
    margin-top: 8px;
    background: url('https://munchdb.com/images/ratings/v2/fsa.svg') no-repeat;
    background-size: 75px 30px;
  }
}

$rating-pips: (
 0: 0,
 1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 pass: pass,
 improvement-required: improvement-required,
 not-found: not-found,
 awaitinginspection: awaiting,
 awaiting-inspection: awaiting,
 awaitingpublication: awaiting,
 awaiting-publication: awaiting,
 exempt: exempt
);

@each $rating-slug, $filename in $rating-pips {
    .munch-rating--#{$rating-slug} {
      background-image: url('https://munchdb.com/images/ratings/v2/#{$filename}.png');
    }
}


/* just-eat.co.uk */

/* For listings */

.munchdb-just-eat .restaurantInner .munch-rating {
  position: absolute;
  top: 90px;
  right: 18px;
}

.munchdb-just-eat .restaurantInner .address {
  width: 400px;
}

/* For restaurant pages */
.munchdb-just-eat .restaurantOverview .munch-rating {
  margin-top: 10px;
}

.munchdb-just-eat .restaurantOverview .details {
  padding-bottom: 0px;
}

/* deliveroo.co.uk */

/* For restaurant pages */
.munchdb-deliveroo .restaurant-details .munch-rating {
    display: block;
    margin: 0.5rem auto 1rem auto;
}

/* For listing pages */
.munchdb-deliveroo .results-group .munch-rating {
    position: absolute;
    right: -230px;
}

.munchdb-deliveroo .results-group,
.munchdb-deliveroo ul.results-list,
.munchdb-deliveroo ul.results-list li,
.munchdb-deliveroo ul.results-list li a {
    overflow: visible;
}

/* hungryhouse.co.uk */

/* For restaurant listing pages */
.munchdb-hungry-house .restsSearchItemResBoxWrapper .munch-rating {
  float: right;
}

.munchdb-hungry-house .restsSearchItemResBoxWrapper:after {
  content:"";
  display:table;
  clear:both;
}

/* For restaurant pages */

.munchdb-hungry-house .restMainInfoHeader,
.munchdb-hungry-house .restMainInfoHeader h1 {
  overflow: visible;
}

.munchdb-hungry-house .restBoxContent .munch-rating {
  float: right;
}
