@import "includes/hint";

/* Start MunchDB Styles */

.munch-rating {
  display: inline-block;
  font-family: "Helvetica", "Arial", sans-serif;
  width: 160px;
  height: 30px;
  color: transparent; /* hide text */
  background-size: 160px 30px;
  cursor: pointer;
}

.munch-rating-hint-wrapper {
  position: relative;
  width: 160px;
  height: 30px;
}

// Specifity required to override host sites' styles.
.munch-rating .munch-rating-hint {
  box-sizing: border-box;
  width: 160px;
  border-radius: 2px;
  z-index: 999999;
  top: 30px;
  left: calc(50% - 62px);
  line-height: 18px;
  background: rgba(50, 50, 50, 1);
  border: 2px solid rgba(52, 52, 52, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  text-align: left;

  > * {
    margin: 0 0 4px 0;
    white-space: pre-line;
  }
  p {
    font-size: 1em;
    color: #fcfcfc;
    text-align: left;
    text-transform: none;

  }

  h4 {
    font-size: 1.1em;
    font-weight: 400;
    color: #fcfcfc;
    text-align: left;
    text-transform: none;
  }

  a {
    color: #64D2BC;
    text-transform: none;
  }

  i {
      position: relative;
      font-size: 1em;
      margin: 0;
      padding: 0;
      display: inline;
  }

  .faint {
    color: #888787;
  }

  .munch-rating-hint-address {
    margin: 4px 0;
  }

  .fsa-logo {
    width: 75px;
    height: 30px;
    display: block;
    margin-top: 8px;
    background: url('https://munchdb.com/images/ratings/v2/fsa.svg') no-repeat;
    background-size: 75px 30px;
  }
}


.munch-rating-0 {
  background-image: url('https://munchdb.com/images/ratings/v2/0.png');
}

.munch-rating-1 {
  background-image: url('https://munchdb.com/images/ratings/v2/1.png');
}

.munch-rating-2 {
  background-image: url('https://munchdb.com/images/ratings/v2/2.png');
}

.munch-rating-3 {
  background-image: url('https://munchdb.com/images/ratings/v2/3.png');
}

.munch-rating-4 {
  background-image: url('https://munchdb.com/images/ratings/v2/4.png');
}

.munch-rating-5 {
  background-image: url('https://munchdb.com/images/ratings/v2/5.png');
}

.munch-rating-pass {
  background-image: url('https://munchdb.com/images/ratings/v2/pass.png');
}

.munch-rating-improvement-required {
  background-image: url('https://munchdb.com/images/ratings/v2/improvement-required.png');
}

.munch-rating-not-found {
  background-image: url('https://munchdb.com/images/ratings/v2/not-found.png');
}

.munch-rating-awaitinginspection,
.munch-rating-awaiting-inspection,
.munch-rating-awaitingpublication,
.munch-rating-awaiting-publication {
  background-image: url('https://munchdb.com/images/ratings/v2/awaiting.png');
}

.munch-rating-exempt {
  background-image: url('https://munchdb.com/images/ratings/v2/exempt.png');
}



/* just-eat.co.uk */

/* For listings */

.just-eat .restaurantInner .munch-rating {
  position: absolute;
  top: 90px;
  right: 18px;
}

.just-eat .restaurantInner .address {
  width: 300px;
}

/* For restaurant pages */
.just-eat .restaurantOverview .munch-rating {
  margin-top: 10px;
}

.just-eat .restaurantOverview .details {
  padding-bottom: 0px;
}

/* deliveroo.co.uk */

/* For restaurant pages */
.deliveroo .restaurant-details .munch-rating {
    display: block;
    margin: 0.5rem auto 1rem auto;
}

/* For listing pages */
.deliveroo .results-group .munch-rating {
    position: absolute;
    right: -230px;
}

.deliveroo .results-group,
.deliveroo ul.results-list,
.deliveroo ul.results-list li,
.deliveroo ul.results-list li a {
    overflow: visible;
}

/* hungryhouse.co.uk */

/* For restaurant listing pages */
.hungry-house .restsSearchItemResBoxWrapper .munch-rating {
  float: right;
}

.hungry-house .restsSearchItemResBoxWrapper:after {
  content:"";
  display:table;
  clear:both;
}

/* For restaurant pages */

.hungry-house .restMainInfoHeader,
.hungry-house .restMainInfoHeader h1 {
  overflow: visible;
}

.hungry-house .restBoxContent .munch-rating {
  float: right;
}
